<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengze.shop.mapper.ProCarDoMapper" >
  <resultMap id="BaseResultMap" type="com.fengze.shop.model.ProCarDo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CAR_ID" property="carId" jdbcType="BIGINT" />
    <result column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="PRO_ID" property="proId" jdbcType="BIGINT" />
    <result column="PRO_SIZE" property="proSize" jdbcType="VARCHAR" />
    <result column="PRO_COLOR" property="proColor" jdbcType="VARCHAR" />
    <result column="PRO_NUM" property="proNum" jdbcType="BIGINT" />
    <result column="PRO_PRICE" property="proPrice" jdbcType="DOUBLE" />
    <result column="TAL_PRICE" property="talPrice" jdbcType="DOUBLE" />
    <result column="STATE" property="state" jdbcType="TINYINT" />
    <result column="CREATE_BY" property="createBy" jdbcType="BIGINT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="BIGINT" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>